* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.rufina-regular {
    font-family: "Rufina", serif;
    font-weight: 400;
    font-style: normal;
}

.rufina-bold {
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: Medium;
}

.HomeMenu a {
    text-decoration: none;
    color: #224F34;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    display: flex;
    gap: 60px;
    font-weight: 500;
    font-style: Medium;
}

.HomeMenu {
    display: flex;
    gap: 57px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: Medium;
}

.HeaderMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 57px;
    margin-left: 174px;
    margin-right: 174px;
    padding-top: 54px;

}

.Login {
    display: flex;
    align-items: center;
}

.RivoLogo {
    width: 94px;
    height: auto;
}

.LogoBtn {
    box-shadow: none;
    background-color: #C2EFD4;
    border-color: #224F34;
    height: 52px;
    width: 142px;
    border: 2px solid #224F34;
    border-radius: 3px;
    margin-left: 98px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: Medium;

}

.BasketDiv {
    display: flex;
    align-items: center;
}

.Basket {
    width: 32px;
    height: 32px;
}

.section1 {
    height: 1117px;
    background-color: #C2EFD4;
}

.HeaderInfo {
    display: flex;
    justify-content: space-between;
}

.Headertxt {
    height: 632px;
    width: 649px;
    margin-right: 160px;
}

.HeaderHeadline {
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
    color: #224F34;
    font-size: 86px;
    overflow-wrap: break-word;
    margin-top: 152px;
    margin-left: 174px;
    margin-bottom: 27px;
    width: 649px;
    height: 318px;
}


.HeaderDescription {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    color: #267D49;
    overflow-wrap: break-word;
    margin-left: 174px;
    line-height: 220%;
    width: 565px;
    height: 169px;
}

.HIBtn {
    border-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #224F34;
    color: rgb(255, 255, 255);
    margin-left: 174px;
    height: 74px;
    width: 258px;
    border-radius: 3px;
    font-size: 20px;
    margin-top: 54px;
    box-shadow: 8px 20px 30px 0px #23332a74;
}

.HeaderImg {
    margin-bottom: 166px;
    margin-right: 175px;
    margin-left: 60px;
    margin-top: 128px;
}

.HeaderImg1 {
    height: 717px;
    width: 570px;
}

.section2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.textSect2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 114px;
}

.HeadlineSect2 {
    font-size: 64px;
    color: #224F34;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.DescriptionSect2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    color: #224F34;
    margin-top: 37px;
    margin-bottom: 80px;
}

.CardsSect2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 43px;
}

.CardImgSect2 {
    border: none;
}

.CardDescriptionSect2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 51px;
}

.DescCardS2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    color: #373737;
    margin-bottom: 8px;
}

.CardLineClass {
    height: 27px;
    width: auto;
}

.CardInfoSect2 {
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    color: #454545;
    gap: 39px;
}

.CardRatingSect2 {
    display: flex;
    flex-direction: row;
}

.CardSect2Class {
    width: 430px;
    height: auto;
}

.CardRatingClass {
    width: 24px;
    height: 24px;
    margin-left: 9px;
}

.BtnSeeAll {
    background-color: #FFFF;
    width: 224px;
    height: 65px;
    border: 2px solid #224F34;
    border-radius: 3px;
    box-shadow: none;
    margin-top: 80px;
    color: #224F34;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.BtnSeeAllTXT {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    margin-right: 18px;
}

.CardArrowClass {
    width: 23px;
    height: auto;
}

.Section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HeadlineSect3 {
    margin-top: 185px;
    color: #224F34;
    font-size: 50px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.HeadSect3 {
    display: flex;
    gap: 100px;
    margin-top: 70px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    color: #454545;
}

.HeadSectPL {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.HeadLineMenu {
    width: 46px;
    height: auto;
}

.BtnCards3 {
    box-shadow: none;
    border-style: none;
}

.CardsS3Class {
    width: 318px;
    height: 378px;
}

.CardsSect3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
    margin-top: 83px;
}

.CardInfoSect3 {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.DecriptionCardSect3 {
    font-size: 22px;
    margin-top: 36px;
    margin-bottom: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #373737;
}

.CountCardSect3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    color: #454545;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.Section4 {
    margin-top: 195px;
    display: flex;
    justify-content: center;
    margin-bottom: 218px;
}

.Section4Back {
    background-color: #C2EFD4;
    width: 1377px;
    height: 596px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ImgSect4 {
    width: 482px;
    height: 596px;
}

.Sect4Info {
    width: 589px;
    height: 447px;
}

.HeadlineSect4 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 46px;
    color: #224F34;
    margin-bottom: 20px;
}

.DescriptionSect4 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    color: #224F34;
    overflow-wrap: break-word;
    width: 589px;
}

.QuartersSect4 {
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-top: 40px;
    margin-bottom: 41px;
}

.QuartSect4 {
    background-color: #FFFF;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.QuartCount {
    color: #224F34;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
    margin-bottom: 1px;
}

.QuartDescr {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #224F34;
}

.BuyNowSect4Btn {
    width: 235px;
    height: 74px;
    border-style: none;
    background-color: #224F34;
    color: #FFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

.Section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HeadlineSect5 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    color: #224F34;
    margin-bottom: 51px;
}

.DescriptionSect5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    color: #224F34;
    margin-bottom: 72px;
}

.CardSect5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CardsSect5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 44px;
}

.TextCardSect5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-wrap: break-word;
    width: 420px;
}

.DescrCardSect5 {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow-wrap: break-word;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #373737;
    font-size: 22px;
    margin-bottom: 249px;

}

.HeadlineCardSect5 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    color: #373737;
    margin-top: 25px;
    margin-bottom: 5px;
}

.Sect6FeedBack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FeedBackCorner {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    color: #224F34;
    margin-bottom: 109px;
}

.CommSect6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 37px;
}

.CardCommSect6 {
    width: 434px;
    height: 253px;
    border-radius: 3px;
    background-color: #FFFF;
    box-shadow: 0px 7px 30px 0px #0000000D;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.CardCommSect6Color1 {
    width: 434px;
    height: 253px;
    border-radius: 3px;
    background-color: #C2EFD4;
    box-shadow: 0px 7px 30px 0px #0000000D;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.IconCommSect6 {
    width: 28px;
    height: auto;
    margin-top: 7px;
    margin-left: 19px;
}

.HeadlineSect6 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    color: #224F34;
    margin-top: 22px;
    margin-bottom: 30px;
    margin-left: 19px;
}

.HeadlineSect6Color1 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    color: #224F34;
    margin-top: 22px;
    margin-bottom: 30px;
    margin-left: 19px;
}

.DescriptSect6 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #6F6F6F;
    margin-left: 19px;
    width: 390px;
    height: 96px;
}

.DescriptSect6Color1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #224F34;
    margin-left: 19px;
    width: 390px;
    height: 96px;
}

.BtnNextBackSect6 {
    gap: 51px;
    margin-top: 125px;
    margin-bottom: 193px;
}

.Back {
    width: 40px;
    height: 40px;
    border-style: none;
    box-shadow: 0px 7px 51px 0px #0000001A;
    background-color: #FFFF;
}

.ArrowSect6 {
    width: 7.07px;
    height: 14.07px;
}

.Next {
    width: 40px;
    height: 40px;
    border-style: none;
    box-shadow: 0px 7px 51px 0px #0000001A;
    background-color: #C2EFD4;
    margin-left: 51px;
}

.Section7Footer {
    background-color: #224F34;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.FooterInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.LogoFooter {
    width: 117px;
    height: 61px;
    margin-top: 80px;
}

.SocialMediaFooterHead {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FFFF;
    font-size: 22px;
    margin-top: 44px;
}

.LogoAndMediaFooter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.SocialMediaFooter {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    gap: 36px;
    margin-bottom: 226px;
}

.SocialMediaFooterImg {
    width: 38px;
    height: 38px;
}

.SocialMediaFooterBtn {
    background-color: #224F34;
    border-style: none;
}

.ShopAndCompanyFooter {
    display: flex;
    flex-direction: column;
    margin-top: 105px;
    gap: 18px;
}

.ShopAndCompanyFooter a {
    text-decoration: none;
    gap: 18px;
}

.HeadlineFooter {
    text-decoration: none;
    color: #FFFF;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    margin-bottom: 25px;
}

.DescFooter {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #C2EFD4;
    font-size: 20px;
}