* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.rufina-regular {
    font-family: "Rufina", serif;
    font-weight: 400;
    font-style: normal;
}

.rufina-bold {
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: Medium;
}

.HomeMenu a {
    text-decoration: none;
    color: #224F34;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    display: flex;
    gap: 60px;
    font-weight: 500;
    font-style: Medium;
}

.HomeMenu {
    display: flex;
    gap: 57px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: Medium;
}

.HeaderMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 57px;
    margin-left: 174px;
    margin-right: 174px;
    padding-top: 54px;

}

.Login {
    display: flex;
    align-items: center;
}

.RivoLogo {
    width: 94px;
    height: auto;
}

.LogoBtn {
    box-shadow: none;
    background-color: #C2EFD4;
    border-color: #224F34;
    height: 52px;
    width: 142px;
    border: 2px solid #224F34;
    border-radius: 3px;
    margin-left: 98px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: Medium;

}

.BasketDiv {
    display: flex;
    align-items: center;
}

.Basket {
    width: 32px;
    height: 32px;
}

.section1 {
    height: 1117px;
    background-color: #C2EFD4;
}

.HeaderInfo {
    display: flex;
    justify-content: space-between;
}

.Headertxt {
    height: 632px;
    width: 649px;
    margin-right: 160px;
}

.HeaderHeadline {
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
    color: #224F34;
    font-size: 86px;
    overflow-wrap: break-word;
    margin-top: 152px;
    margin-left: 174px;
    margin-bottom: 27px;
    width: 649px;
    height: 318px;
}


.HeaderDescription {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    color: #267D49;
    overflow-wrap: break-word;
    margin-left: 174px;
    line-height: 220%;
    width: 565px;
    height: 169px;
}

.HIBtn {
    border-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #224F34;
    color: rgb(255, 255, 255);
    margin-left: 174px;
    height: 74px;
    width: 258px;
    border-radius: 3px;
    font-size: 20px;
    margin-top: 54px;
    box-shadow: 8px 20px 30px 0px #23332a74;
}

.HeaderImg {
    margin-bottom: 166px;
    margin-right: 175px;
    margin-left: 60px;
    margin-top: 128px;
}

.HeaderImg1 {
    height: 717px;
    width: 570px;
}

.section2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.textSect2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 114px;
}

.HeadlineSect2 {
    font-size: 64px;
    color: #224F34;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.DescriptionSect2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    color: #224F34;
    margin-top: 37px;
    margin-bottom: 80px;
}

.CardsSect2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 43px;
}

.CardImgSect2 {
    border: none;
}

.CardDescriptionSect2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 51px;
}

.DescCardS2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    color: #373737;
    margin-bottom: 8px;
}

.CardLineClass {
    height: 27px;
    width: auto;
}

.CardInfoSect2 {
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    color: #454545;
    gap: 39px;
}

.CardRatingSect2 {
    display: flex;
    flex-direction: row;
}

.CardSect2Class {
    width: 430px;
    height: auto;
}

.CardRatingClass {
    width: 24px;
    height: 24px;
    margin-left: 9px;
}

.BtnSeeAll {
    background-color: #FFFF;
    width: 224px;
    height: 65px;
    border: 2px solid #224F34;
    border-radius: 3px;
    box-shadow: none;
    margin-top: 80px;
    color: #224F34;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.BtnSeeAllTXT {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    margin-right: 18px;
}

.CardArrowClass {
    width: 23px;
    height: auto;
}

.Section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HeadlineSect3 {
    margin-top: 185px;
    color: #224F34;
    font-size: 50px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.HeadSect3 {
    display: flex;
    gap: 100px;
    margin-top: 70px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    color: #454545;
}

.HeadSectPL {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.HeadLineMenu {
    width: 46px;
    height: auto;
}

.BtnCards3 {
    box-shadow: none;
    border-style: none;
}

.CardsS3Class {
    width: 318px;
    height: 378px;
}

.CardsSect3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
    margin-top: 83px;
}

.CardInfoSect3 {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.DecriptionCardSect3 {
    font-size: 22px;
    margin-top: 36px;
    margin-bottom: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #373737;
}

.CountCardSect3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    color: #454545;
    display: flex;
    flex-direction: row;
    gap: 40px;
}